body{
    min-width: none;
}
#booktiful_logo{
    width: 20%;
    margin: 2%;
    border-radius: 400px;
    padding: 0px;
}

.top{
    background-color: rgb(205, 245, 245);
    padding: 5px;
    display: flex;
    
}

.section{
    margin-top: 1em;
    padding: 20px;
    display: flex;
    height: 400px;
}

.text{
    flex: 1;
    margin-right: 20px;
    background-color: rgb(165, 165, 233);
    border-radius: 5%;
    padding: 5%;
}

.placeholder_img{
    width: 500px;
    height: 400px;
    border-radius: 5%;
}


.social-footer {
  padding: 1rem;
  background: #8a8a8a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}



