/* contains style for index.html */

.logo {
    width: 20%;
    margin: 2%;
    border-radius: 400px;
}

body {
    /* background-color: #76a9e0; */
    background-image: url("../img/background.jpg");
    background-color: #65e761;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    margin: auto;
    margin-top: 50px;
}

h2 {
    font-family: 'Righteous', serif
}


/* #search_box {
    width: 500px;
} */

.book-list {
    margin-top: 50px;
    visibility: hidden;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #05f5cd!important;
}